
.content{
    width: 40%;
    margin-top: .5%;
    height: 85vh;
    background: url("/images/leo.jpg");
    color: #fff;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    border-radius: .5%;
    box-shadow: #000 2px 5px 10px;
}
.content > h1{
    font-size: 2rem;
}
h1{
    margin: 2% 0;
}
form{
    width: 60%;
}
#leo{
    font-style: italic;
    color: tomato;
}
/* 
.content::after{
    
} */
.input-cont{
    margin: auto;
    width: 90%;
    height: 2.5rem;
    position: relative;
    overflow: hidden;
}
#username, #label, #key{
    width: 100%;
    height: 100%;
}
#username, #key{
    padding: 5% 3% 0;
    font-size: 1.1rem;
    font-weight: 800;
    border: none;
    text-align: center;
    outline: none;
}
#label{
    position: absolute;
    bottom: 0;
    left: 0;
    pointer-events: none;
    border-bottom: 5px solid #fff;
}
#label::after{
    width: 100%;
    height: 100%;
    content: '';
    position: absolute;
    bottom: -1;
    left: 0;
    border-bottom: 5px solid tomato;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
}

#username:focus+ #label::after, #key:focus + #label::after {
    transform: translateX(0%);
} 



#btn{
    margin: 5% 0;
    width: 45%;
    height: 40%;
    font-size: 1.1rem;
    padding: 1.5%;
    background: -webkit-linear-gradient(left top,  #ff9800a1, #ff6347de);
    color: #fff;
    border: #000 1px solid;
    cursor: pointer;
}
.two{
    margin-top: 3%;
}