<!-- chat section -->
<div class="message-column">
    <span class="message-date">Friday</span>
    
    <!-- received message template -->
    <div class="contact-message-body">
        <span class="message-body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi vero blanditiis possimus ipsam reprehenderit odit voluptatem illo voluptates ducimus magni!</span>
        <span class="message-time-stamp">22:05</span>
    </div>

    <!-- sent message template -->
    <div class="self contact-message-body">
        <span class="self message-body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi vero blanditiis possimus ipsam reprehenderit odit voluptatem illo voluptates ducimus magni!</span>
        <span class="self message-time-stamp">22:05</span>
    </div> 
</div>

<!-- message composer tab -->
<div id="composer">
    <input type="text" name="message" id="privateText" placeholder="Type a message" >
    <!-- see if add a record button -->
    <button onclick="sendPrivateMess()">Send</button>
</div>