<div class="contact-header">  
    <!-- contact info section   -->
    <div class="contact-segment">
        <span class="contact-body-img"><i class="fas fa-user fa-2x"></i></span>
        <span class="contact-body-name">Bruce Wayne</span>
    </div>
    <!-- contact settings tab -->
    <div class="body-tools">
        <!-- search button for messages -->
        <div id="contactSearch">
            
            <button id="contactSearchBtn" class='contactSearchBtn' data-toggle="on"><i class="fas fa-search"></i></button>
            
            <input type="search" name="search" id="contactSearchField" class="contactSearchField" placeholder="Search" autofocus>
            
        </div>
        <!-- settings drop-down menu -->
        <div class="contact-settings">
            <label for="body-settings">
                <span class="settings"><i class="fas fa-ellipsis-v"></i></span>
            </label>
            <input type="checkbox" id="body-settings">
            <span class="body-settings-tab">
                <ul class="tab-list">
                    <li>Contact info</li>
                    <li>Clear messages</li>
                    <li>Delete chat</li>
                </ul>
            </span>
        </div>
    </div> 
    
</div>