<!-- main body section-->
<div class="body-container">
    <!-- contact topbar -->
    <%- include ('./chat-topbar.ejs') %>
    <!-- chat section -->
    <%- include ('./chat-box.ejs') %> 
    
</div>