<div class="users">
    <div class="contact-tile">
        <!-- contact profile img -->
        <div class="contact-tile-img"><i class="fas fa-user fa-2x"></i></div>
        <!-- contact properties {name, truncated latest message} -->
        <div class="contact-prop">
            <span class="contact-name">Bruce Wayne</span>
            <span class="info-preview">Sit amet consectetur adipisicing elit. Consectetur, iste?</span>
        </div>
    </div>
</div>