<%- include('../partials/header/index-AH.ejs')  -%>


<div class="content">
    <img src="/images/cute cat.png" alt="mini-cat image" class="cat">
    <h1>PROJECT<br><i id="leo">LEO</i></h1>
    <form id="details" method="POST" action="/">
        <div class="input-cont">
            <div class="email-input">
                <input type="email" id="username" name="nom" placeholder="Email addr.." autocomplete="off" required>
                <label for="username" class="label"></label>
            </div>
            <div class="pass">
                <input type="password" id="password" name="key" placeholder="password" autocomplete="off" required>
                <label for="password" class="label-p"></label>
            </div>
        </div>
        <button class='btn Register'type="submit">signup</button>
        <button class='btn login'type="submit">login</button>
        <a href="/forgot">forgot your password?</a>
    </form>
</div>

<%- include('../partials/footer/index-footer.ejs')  -%>