*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #dcdcdc;
    display: grid;
    height: 100vh;
    width: 100%;
    grid-template-columns: 40% 60%;
}

footer{
    grid-column: 1/3;
    text-align: center;
    padding: .5%;
    opacity: .4;
    height: 5vh;
    border-top: 1px solid #000;
    transition: opacity .6s;
}
footer:hover{
    opacity: 1;
}