body {
    margin: 0px;
    padding: 0px;
}
.content-holder {
    display: flex;
    position: relative;
    max-width: 560px;
    height:720px;
    background: url("leo.jpg");
    background-position: center;
    background-size: cover;
    margin: auto;
    align-items: center;
    justify-content: center;
}
.content-holder > h1 {
    font-family: "Agency FB";
    font-size: 3rem;
    display: inline-block;
    background: rgba(255, 255, 255, .75);
    margin: auto;
    padding: 20px;
    position: absolute;
    top: 300px;
    left: 100px;
}
.nav-bar {
    position: absolute;
    top: 400px;
    left: 180px;
}
.parent {
    margin: 0px;
    padding: 0px;
}
.home-nav {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}
.home-nav > a {
    display: block;
    text-decoration: none;
    color: #000;
    font-size: 1.5rem;
    padding: 10px;
    font-family: "Comic Sans MS";
    background: #d6b084;
}
.submenu {
    display: none;
    margin: 0px;
    padding: 0px;
    width: 210px;
    height: 130px;
}
.submenu:hover {
    display: block;
}
.nav-link {
    display: block;
    background: #d6b084;
    text-decoration: none;
    font-family: "Comic Sans MS";
    font-size: 2rem;
    margin-top: 2px;
    padding: 10px;
    text-shadow: #000 1px 1px 1px;
}
.nav-link > a {
    text-decoration: none;
    color: #000;
}
.nav-link:hover {
    background: #ba8d5f;
}