<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/3e9f61bf13.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/styles/admin-styles/admin-basis.css" type="text/css" />
    <link rel="stylesheet" href="/styles/admin-styles/main-body.css" type="text/css" />
    <link rel="stylesheet" href="/styles/admin-styles/aside.css" type="text/css" />
    <link rel="stylesheet" href="/styles/admin-styles/chat-box.css" type="text/css" />
    <script src="/scripts/style.js" defer></script>
    <title><%= title %> </title>
</head>
<body>